.container {
  position: relative;
  background-color: black;
  border-bottom: solid 1px lightgrey;
}

.header-container {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 8%;
  // border: solid white;

  .logo-container {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      position: relative;
      height: 80%;
    }
  }

  .menu-container {
    display: inherit;
    margin: 0 15%;
    justify-content: space-between;
    width: 40%;
    .menu-item {
      color: white;
    }
  }

  .ops-container {
    display: inherit;
    justify-content: space-between;
    width: 8%;

    span {
      color: white !important;
    }
  }
}
