<div class="header-container">
    <div class="logo-container">
        <img src="/assets/logo.jpg" />
    </div>
    <div class="menu-container">
        <div class="menu-item">
            Home
        </div>
        <div class="menu-item">
            Category
        </div>
        <div class="menu-item">
            About Us
        </div>
        <div class="menu-item">
            FAQ
        </div>
        <div class="menu-item">
            Blog
        </div>
        <div class="menu-item">
            Contact
        </div>
    </div>

    <div class="ops-container">
        <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping-cart"></mat-icon>

        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon> -->
        <span class="pi pi-search"></span>
        <span class="pi pi-shopping-cart"></span>
        <span class="pi pi-user"></span>
    </div>
</div>