<div class="title-container">Create Account</div>
<div class="socials-container">
  <div class="fb-container">
    <i class="pi pi-facebook"></i>
  </div>
  <div class="g+-container">
    <i class="pi pi-google"></i>
  </div>
  <div class="linkedin-container">
    <i class="pi pi-linkedin"></i>
  </div>
</div>
<div class="desc-container">or use email for registration</div>
<div class="form-container">
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-user" />
    <input type="text" pInputText placeholder="Name" />
  </p-iconField>
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-envelope" />
    <input type="text" pInputText placeholder="Email" />
  </p-iconField>
  <p-iconField iconPosition="left">
    <p-inputIcon styleClass="pi pi-lock" />
    <input type="text" pInputText placeholder="Password" />
  </p-iconField>
</div>
<div class="forget-pwd-txt">Forgot your password?</div>
<div class="btns-container">
  <p-button
    class="btn-white shop-now-btn sign-in-btn"
    label="SIGN IN"
    icon=""
    iconPos="right"
    (click)="navToHomepage()"
  ></p-button>
</div>
