.title-container {
  font-size: 2rem;
  color: rgb(84, 158, 145);
  font-weight: 500;
}
.socials-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  div {
    margin: 0 3%;

    i {
      color: #252525;
      border: solid 1px grey;
      padding: 0.6rem;
      border-radius: 255px;
      // font-size: 1.4rem;
    }
  }
}
.desc-container {
  position: relative;
  margin-top: 6%;
  color: grey;
  line-height: 1.6;
  font-size: 0.8rem;
}

.form-container {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2.4% 0;

  p-iconField {
    margin: 1.2% 0;

    input {
      background-color: rgb(244, 248, 247);
      border: none;
    }
  }
}
.forget-pwd-txt {
  position: relative;
  margin-top: 6%;
  color: #252525;
  font-size: 1rem;
}

.btns-container {
  position: relative;
  margin-top: 6%;
}
