<!-- <app-login></app-login>
<app-register></app-register> -->

<div class="auth-bg-img-container">
  <img class="bg-img" src="assets/bg.jpg" />
</div>

<div class="panel-container">
  <div
    class="form-containers"
    [@manageFormContainer]="isOpen ? 'showLogin' : 'showRegister'"
  >
    <ng-container>
      <div
        class="login-form-container"
        [ngClass]="
          isOpen ? 'swap-in-for-signin-form' : 'swap-out-for-signin-form'
        "
      >
        <app-login></app-login>
      </div>
    </ng-container>
    <ng-container *ngIf="isFirstPageLoad">
      <div
        class="register-form-container"
        [ngClass]="
          isOpen ? 'swap-out-for-signup-form' : 'swap-in-for-signup-form'
        "
      >
        <app-register></app-register>
      </div>
    </ng-container>
  </div>
  <div
    class="greetings-container"
    [@manageGreetingsContainer]="isOpen ? 'showLogin' : 'showRegister'"
  >
    <div class="bg-img-container">
      <img class="bg-img" src="assets/banner-bgimg.jpg" />
    </div>

    <ng-container>
      <div
        class="def"
        [ngClass]="
          isOpen ? 'swap-in-for-signin-texts' : 'swap-out-for-signin-texts'
        "
      >
        <div class="title-container">Hello, Friend!</div>
        <div class="desc-container">
          Enter your personal details <br />
          and start journey with us
        </div>
        <div class="btns-container">
          <p-button
            class="btn-white shop-now-btn sign-up-btn"
            label="SIGN UP"
            icon=""
            iconPos="right"
            (click)="toggleView()"
          ></p-button>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isFirstPageLoad">
      <div
        class="def signup-default"
        [ngClass]="
          isOpen ? 'swap-out-for-signup-texts' : 'swap-in-for-signup-texts'
        "
      >
        <div class="title-container">Welcome Back!</div>
        <div class="desc-container">
          To keep connected with us please<br />
          login with your personal info
        </div>
        <div class="btns-container">
          <p-button
            class="btn-white shop-now-btn sign-up-btn"
            label="SIGN IN"
            icon=""
            iconPos="right"
            (click)="toggleView()"
          ></p-button>
        </div>
      </div>
    </ng-container>
  </div>

  <!-- <div class="logo-container">
        <img src="assets/logo.jpg" alt="logo" />
    </div> -->
</div>
