<!-- <div class="card flex justify-content-center">
    <p-button label="Check" icon="pi pi-check"></p-button>
</div> -->


<p-carousel [value]="products" [numVisible]="3" [numScroll]="1" [responsiveOptions]="responsiveOptions">
    <ng-template let-product pTemplate="item">

        <div class="banner-content-container">
            <img src="assets/banner-bgimg.jpg" alt="" class="bg-img">

            <div class="banner-details-container">
                <p class="banner-lbl">Top Products Of The Month</p>
                <p class="banner-header">Micropack MHP Headphone Black</p>
                <p class="banner-desc">The Micropack Headphone offers a stero PC headset with volume control, a
                flexible mic arm, adjustable headbamd.</p>
                <p-button class="btn-white shop-now-btn" label="Shop Now" icon="pi pi-arrow-right" iconPos="right"></p-button>
            </div>
        </div>

    </ng-template>
</p-carousel>