<div class="container">
    <div class="feature-container">
        <img src="https://cdn4.iconfinder.com/data/icons/ecommerce-128/512/computer-product-shopping-ecommerce-512.png"
            alt="">
        <p>Free Shipping</p>
        <p>Our free shipping policy applies to all orders, regardless of order value or destination.</p>
    </div>
    <div class="feature-container">
        <img src="https://cdn4.iconfinder.com/data/icons/ecommerce-128/512/computer-product-shopping-ecommerce-512.png"
            alt="">
        <p>Secure Payments</p>
        <p>Your payments is always safe, secure, and
            protected at all times.</p>
    </div>
    <div class="feature-container">
        <img src="https://cdn4.iconfinder.com/data/icons/ecommerce-128/512/computer-product-shopping-ecommerce-512.png"
            alt="">
        <p>Support Online 24/7</p>
        <p>We are available 24/7 to assist you with any
            questions. or issues you may have.</p>
    </div>
</div>