<div class="container">
    <div class="top-section">
        <p class="title">Browse by Category</p>
        <div class="nav-btn-container">
            <div class="left-btn">
                <p-button class="btn-white shop-now-btn" label="" icon="pi pi-arrow-left" iconPos="left"></p-button>

            </div>
            <div class="right-btn">
                <p-button class="btn-white shop-now-btn" label="" icon="pi pi-arrow-right" iconPos="right"></p-button>

            </div>
        </div>
    </div>
    <div class="bottom-section">
        <div class="categories-blocks-container">
            <div class="category-block">
                <img src="assets/game-controller.png" />
                <p>Games</p>
            </div>
            <div class="category-block">
                <img src="assets/headphones.png" />
                <p>Headphones</p>
            </div>
            <div class="category-block">
                <img src="assets/camera.png" />
                <p>Camera</p>
            </div>
            <div class="category-block">
                <img src="assets/smartwatch.png" />
                <p>Smartwatch</p>
            </div>
            <div class="category-block">
                <img src="assets/smartphone.png" />
                <p>Smartphone</p>
            </div>
            <div class="category-block">
                <img src="assets/laptop.png" />
                <p>Laptop</p>
            </div>
        </div>
    </div>
</div>